body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(255, 255, 255);
  background-color: #000000;
}

header {
  background-color: #207933;
  height: 35px;
  width: 100%;
  margin-bottom: 10px;
}

.logo {
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  float: left;
}

header a {
  color: #ffffff;
}

header a:hover {
  color: rgb(14, 95, 246);
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}


div.about {
  padding: 10px 0 30px 0;
  text-align: center;
}

.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 35px;
}

#submitButton{
  background-color:#207933;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
}

.green {
  color: #207933;
}

input {
  margin-bottom: 5px;
}