{% extends "layout.html" %}
{% block content %}
<div class="about">
    <h3>This will be used to generate what position each person should play on a soccer field based on user variables such as height, weight, speed, etc. There will be at least 11 players that you will need to assign stats to for the code to assign each person a position. For example, if a player is tall and slow, they're likely to be assigned a defending position. If they're short and fast, they're likely to be assigned an attacking position. For now I will operate under the assumption that the team will play with a 4-4-2 formation and will add more formations as I get more of an idea for what I'm doing.</h3>
</div>
{% endblock %}
